<h1>Employee details</h1>
<p><b>first name</b></p><%= @employee.first_name %>
<p><b>last name</b></p><%= @employee.last_name %>
<p><b>email</b></p><%= @employee.email %>
<br>
<br>
<%= link_to 'Back', employee_index_path%>
